*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    margin: 50px  120px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.cart-heading{
    padding:15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
}

.checkout-btn{
    background-color: #194699; 
    color: white; 
    padding: 4px 25px; 
    border-radius: 20px;
    margin-left: 10px;
    border: none;
}

.cart-btn{
    background-color: white; 
    padding: 4px 25px;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid  black;
}

.cart-btn a{
    text-decoration: none;
    color: black;
}



.info{
    padding: 30px;
}

.info p{
    font-size: 25px;
    margin-bottom: 10px;
}

.info input{
    border-radius: 20px;
    width: 50%;
    padding: 20px;
}

.payment-options{
    padding: 30px;
}

.payment-options p{
    font-size: 25px;
    margin-bottom: 10px;
}

textarea {
    width: 300px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
}

button{
    cursor: pointer;
    margin-bottom: 20px;
}


.payment-options img{
    width: 50px;
    padding-left: 10px;
    padding-top: 20px;
}